@model IEnumerable<Product>



@{
    ViewBag.Title = "Product Administration";
}




Products Page

<h1>Product Page</h1>
<a asp-action="Create">Create New Product</a>




@if (Model.Count() < 1)
{
    <p>No tickets or concerts for the Year</p>
}
else
{
    @foreach (var product in Model)
    {
        <a asp-action="Edit" asp-route="@product.Id">Edit</a>
        <a asp-action="Delete" asp-route="@product.Id">Edit</a>

        <dl>
            <dt>Product Name</dt>
            <dd><a asp-action="Details" asp-route-id="@product.Id">@product.Name</a></dd>
            <dt>Price</dt>
            <dd>$@product.Price</dd>
            <dt>Description</dt>
            <dd>@product.Description</dd>
            <dt>Image</dt>
            <dd><img src="@product.ImageHref" /></dd>
        </dl>
    }
}




<h1>@User.Identity.Name</h1>